body {
	font-family: Helvetica;
	font-size: 15px;
}
span {
	font-size: 12px;
}
h2 {
	font-size: 25px;
	font-weight: bold;
}

.white-text {
    color: #FFFFFF;
}

.center {
    text-align: center;
    display: flex;
    flex-direction: column;
}
.horizontal-rule {
	border: 3px solid #F3F3F3;
	margin: 20px 0;
	width: 100%;
}
.gray-text {
	color: #8E8E8E;
}
.teal-text {
	color: #27A4BB;
}
.answer-box {
	border: 1px solid #8E8E8E;
	color: #27A4BB;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	margin-left: 10px;
	cursor: pointer;
}

.answer-box-selected {
	background: #4FD968;
	color: #FFFFFF;
	border: none;
}
.section-header {
	margin-top: 50px;
}
.pull-right {
    padding-right: 1px;
    display: flex;
    margin-left: auto;
}
.gray-background {
    background: #F7F7F7;
    padding: 20px 0;
}

.gray-background > .mx-auto > p {
    margin-bottom: 0;
}

.hidden-text {
    margin-top: 10px;
    padding: 20px 35px;
}

.glossary {
    background: #F4F9FA;
    color: #477483;
    margin-top: 50px;
    padding-top: 60px;
}

h3 {
    font-weight: bold;
    font-size: 15px;
    margin-top: 30px;
}

.link-text {
    font-weight: bold;
    cursor: pointer;
    color: #27A4BB;
}

h1 {
    font-size: 25px;
    margin-bottom: 0;
    color: #FFFFFF;
    font-weight: bold;
}

.jumbotron {
    height: 208px;
}

.center-text {
    display: flex;
    justify-content: center;
    margin: 0 auto 10px;
}

.sub-text {
    font-size: 9px;
    color: #8E8E8E;
    margin: auto auto 0;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}