body {
	font-family: Helvetica Neue;
	font-size: 15px;
}
span {
	font-size: 12px;
}
h2 {
	font-size: 25px;
	font-weight: 500;
}

.white-text {
    color: #FFFFFF;
}

.center {
    text-align: center;
    display: flex;
    flex-direction: column;
}
.horizontal-rule {
	border: 3px solid #F3F3F3;
	margin: 20px 0;
	width: 100%;
}
.gray-text {
	color: #8E8E8E;
}
.teal-text {
	color: #27A4BB;
}
.answer-box {
	border: 1px solid #8E8E8E;
	color: #27A4BB;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	margin-left: 10px;
	cursor: pointer;
}

.answer-box-selected {
	background: #4FD968;
	color: #FFFFFF;
	border: none;
}
.section-header {
	margin-top: 50px;
}
.pull-right {
    padding-right: 1px;
    display: flex;
    margin-left: auto;
}
.gray-background {
    background: #F7F7F7;
    padding: 20px 0;
    margin-top: 5px;
}

.mx-auto {
    width: 796px;
}

.gray-background > .mx-auto > p {
    margin-bottom: 0;
}

.hidden-text {
    margin-top: 10px;
    padding: 20px 35px;
}

.glossary {
    background: #F4F9FA;
    color: #477483;
    margin-top: 50px;
    padding-top: 60px;
}

h3 {
    font-weight: 500;
    font-size: 15px;
    margin-top: 30px;
}

.link-text {
    font-weight: 500;
    cursor: pointer;
    color: #27A4BB;
}

h1 {
    font-size: 25px;
    margin-bottom: 0;
    color: #FFFFFF;
    font-weight: 500;
}

.jumbotron {
    height: 208px;
    margin-bottom: 0;
    background-image: url('hero.png');
    background-size: cover;
}

.center-text {
    display: flex;
    justify-content: center;
    margin: 0 auto 5px;
}

.nav-bar {
    height: 59px;
    color: #8E8E8E;
    font-size: 18px;
    padding-top: 11px;
    box-shadow: 0 8px 6px -6px #8E8E8E;
}

.nav-element {
    display: flex;
    align-items: center;
}

.nav-element:last-child {
    margin-right: 200px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.sub-text {
    font-size: 9px;
    color: #8E8E8E;
    margin: auto auto;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.disabled {
    opacity: .25;
    cursor: not-allowed;
}

.disabled .answer-box {
    cursor: not-allowed;
}

.icon-container {
    width: 0 !important;
}

.nav-element-text {
    font-size: 18px;
    margin-right: 10px;
}

.fa-times {
    margin-left: 2.5px;
}

.fa-check {
    font-size: 14px;
    margin-left: 2px;
}

.gray-box {
    color: black;
    opacity: 0.2;
}

.blue-box {
    color: #27A4BB;
}

.info-icon {
    background: #E7E7E7;
    color: #8C8C8C;
    padding: 1px 5px;
    margin-left: 5px;
    font-family: "Lucida Console", Monaco, monospace;
    cursor: pointer;
}

.popover {
    background: #F4F4F4;
    padding: 20px;
}

